<%= simple_form_for @patient do |f| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :first_name %>
  <%= f.input :middle_name %>
  <%= f.input :last_name %>
  <%= f.input :birth, start_year: Date.today.year - 110, end_year: Date.today.year %>
  <%= f.input :gender, collection: Hash[ Patient.genders.map { |k, v| [ k.split('_').join(' ').capitalize , k ] } ], as: :radio_buttons %>
  <%= f.input :status, collection: [ "Initial", "Referred", "Treatment", "Closed" ], as: :select %>
  <%= f.input :location_id, collection: @location, as: :select %>

  <div class="actions">
    <%= f.submit 'Patient Register'%>
  </div>
<% end %>
